@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
body {
  width: 100vw;
  overflow-x: hidden;
  font-size: 15px;
  font-family: "Open Sans", sans-serif; }

header {
  display: none; }

.container {
  height: auto;
  padding: 0 15px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
.item {
  page-break-inside: avoid;
  padding: 0 15px;
  margin: 0 auto;
  margin-top: 6px;
  margin-bottom: 6px; }

h1.section-header {
  width: auto;
  font-size: 20px;
  font-family: "Source Code Pro", monospace;
  letter-spacing: 6px;
  border-bottom: 2px solid #008B8B; }

ul.bullet-list {
  list-style-position: outside;
  list-style-type: '- ';
  margin: 2px 0;
  padding-left: 20px; }

ul.bubble-list {
  list-style-type: none;
  padding-left: 0;
  margin: 2px 0;
  display: flex;
  flex-wrap: wrap; }
  ul.bubble-list li {
    font-size: 12px;
    padding: 2.5px 5px;
    margin: 1px 1px;
    font-family: "Source Code Pro", monospace;
    text-transform: uppercase;
    color: #008B8B;
    border: 1px solid #008B8B;
    border-radius: 20px; }

a.link {
  color: black;
  text-decoration: none;
  padding: 2px; }
  a.link:hover {
    color: white;
    background-color: #008B8B;
    padding: 2px; }

#education {
  width: 100%; }

.edu-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "degree degree year" "school location ." "content content content"; }
  .edu-item .edu-degree {
    font-weight: bold;
    grid-area: degree;
    margin: 0;
    padding: 0; }
  .edu-item .edu-grad_date {
    font-style: italic;
    grid-area: year;
    margin: 0;
    padding: 0; }
  .edu-item .edu-school {
    text-transform: uppercase;
    grid-area: school;
    margin: 0;
    padding: 0;
    margin-right: 5px; }
  .edu-item .edu-location {
    font-style: italic;
    font-variant: small-caps;
    grid-area: location;
    margin: 0;
    padding: 0; }
  .edu-item .edu-content {
    grid-area: content;
    margin: 0;
    padding: 0; }

.exp-title {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0; }

.exp-company, .exp-organization {
  text-transform: uppercase;
  margin: 0;
  margin-right: 5px; }

.exp-location {
  font-variant: small-caps;
  font-style: italic;
  margin: 0; }

.exp-date_range {
  font-style: italic;
  margin: 0; }

.exp-about {
  font-style: italic;
  margin: 0; }

.exp-skills {
  margin: 0; }

.exp-duties {
  margin: 0; }

.professional {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "title title date" "company location location" "about about about" "skills skills skills" "duties duties duties"; }
  .professional .exp-title {
    grid-area: title; }
  .professional .exp-date_range {
    grid-area: date; }
  .professional .exp-company {
    grid-area: company; }
  .professional .exp-location {
    grid-area: location; }
  .professional .exp-skills {
    grid-area: skills; }
  .professional .exp-duties {
    grid-area: duties; }

.volunteer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "title title date" "organization location location" "about about about" "duties duties duties"; }
  .volunteer .exp-title {
    grid-area: title; }
  .volunteer .exp-date_range {
    grid-area: date; }
  .volunteer .exp-organization {
    grid-area: organization; }
  .volunteer .exp-location {
    grid-area: location; }
  .volunteer .exp-about {
    grid-area: about; }
  .volunteer .exp-duties {
    grid-area: duties; }

.organization {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas: "title title date" "organization location location"; }
  .organization .exp-title {
    grid-area: title; }
  .organization .exp-date_range {
    grid-area: date; }
  .organization .exp-location {
    grid-area: location; }
  .organization .exp-organization {
    grid-area: organization; }

.header-item {
  margin: 2.5px; }

#resume-header {
  background: white;
  border: 2px solid #008B8B;
  display: grid;
  grid-template-rows: 1fr auto auto;
  grid-template-columns: 1fr auto;
  grid-template-areas: "name contact" "headline contact" "about contact"; }
  #resume-header #header-name {
    grid-area: name;
    align-self: stretch;
    justify-self: start; }
  #resume-header #header-headline {
    grid-area: headline;
    align-self: center;
    justify-self: start; }
  #resume-header #header-about {
    grid-area: about;
    align-self: center;
    justify-self: start; }
  #resume-header #header-contact {
    grid-area: contact;
    align-self: stretch;
    justify-self: end; }

#header-name {
  font-family: "Source Code Pro", monospace;
  font-size: 40px;
  letter-spacing: 8px;
  color: #008B8B; }

#header-headline {
  list-style-type: none;
  padding-left: 0; }

#header-about {
  font-style: italic; }

#header-contact {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around; }
  #header-contact .contact-item {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 5px; }
  #header-contact .contact-item-icon {
    color: #008B8B; }

/*MEDIA QUERIES FOR PRINT STYLING*/
/*fixes for things that don't print the same way they are displayed on the screen*/
/*
     = 1.6px = 0.1em
     = 2  px = 0.15em
     = 4  px = 0.25em
 6pt =  8 px = 0.5 em
11pt = 15 px = 0.95em
12pt = 16 px = 1.0 em
14pt = 19 px = 1.2 em
24pt = 32 px = 2.0 em
*/
@media print {
  #page-break {
    page-break-after: always; }

  .print-nobreak {
    page-break-inside: avoid; }

  @page {
    margin: 0.25in;
    size: A4; } }
.port-item {
  margin: 10px 0; }

.port-title {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0; }

.port-about {
  font-style: italic;
  margin: 0; }

.port-links {
  list-style-type: none;
  padding-left: 0;
  margin: 0; }
  .port-links a {
    color: black;
    text-decoration: underline; }
  .port-links a:hover {
    padding: 2px;
    color: white;
    background-color: #008B8B; }

.project .port-links {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0 3px; }
  .project .port-links li.port-link {
    display: contents; }
  .project .port-links span.port-link-text {
    font-family: "Source Code Pro", monospace;
    justify-self: end;
    align-self: center; }
  .project .port-links span.port-link-link {
    justify-self: start;
    align-self: center; }

.port-citation .citation-title {
  font-weight: bold; }
.port-citation .citation-publisher {
  font-style: italic; }

.publication .port-links {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-gap: 0 3px; }
  .publication .port-links li.port-link {
    display: contents; }
  .publication .port-links span.port-link-text {
    font-family: "Source Code Pro", monospace;
    justify-self: end;
    align-self: center; }
  .publication .port-links span.port-link-link {
    font-style: italic;
    text-decoration: underline;
    justify-self: start;
    align-self: center; }

.skin-content {
  display: grid;
  grid-template-rows: repeat(auto-fill, auto);
  grid-template-columns: auto 1fr;
  grid-gap: 6px 5px; }
  .skin-content .skin-row {
    display: contents;
    page-break-inside: avoid; }
  .skin-content .skin-row-title {
    font-weight: bold;
    margin: 0;
    justify-self: end;
    align-self: center; }
  .skin-content .skin-row-items {
    margin: 0;
    justify-self: start;
    align-self: center; }

/*# sourceMappingURL=style.css.map */
