@import './variables.scss';

body {
  width: 100vw;
  overflow-x: hidden;
  font-size: $font-size;
}
header { display: none; }

.container {
  height: auto;
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width: 768px)  { .container { width: 750px; } }
@media (min-width: 992px)  { .container { width: 970px; } }
@media (min-width: 1200px) { .container { width: 1170px; } }

.item {
  padding: 0 15px;
  margin: 0 auto;
}

// SECTION HEADERS
h1.section-header {
  width: auto;
  font-size: $font-size_header;
  letter-spacing: $letter-spacing_header;
  border-bottom: $border-thickness solid $color_main;
}

// LIST OPTIONS
ul.bullet-list {
  // STYLE
  list-style-position: outside;
  list-style-type: '- ';
  // FORMAT
  margin: 5px 0;
  padding-left: 20px;
}

ul.bubble-list {
  list-style-type: none;
  padding-left: 0;
  margin: 5px 0;
  display: flex;
  flex-wrap: wrap;

  li {
    padding: 2.5px 5px;
    margin: 1px 1px;

    // BUTTON STYLING
    color: white;
    background: $color_main;
    border: 1px solid $color_main;
    border-radius: 20px;
  }
}


// // ROW STYLING
// span.row {
//   display: flex;
//   flex-direction: row;
//   gap: 0.5rem;
// }
// span.row-spaced {
//   justify-content: space-between;
// }
// span.row-start {

//   justify-content: flex-start;
// }
