// PROFESSIONALS
.experience {
  // STYLE
  // FORMAT
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "title title date"
    "company location location"
    "about about about"
    "skills skills skills"
    "duties duties duties";

    .exp-title { 
      // STYLE
      font-weight: bold;
      text-transform: uppercase;
      // FORMAT
      margin: 0;
      grid-area: title;
    }
    .exp-date_range {
      // SKILL
      font-style: italic;
      // FORMAT 
      margin: 0;
      grid-area: date; 
    }
    .exp-company {
      // SKILL
      text-transform: uppercase;
      // FORMAT 
      margin: 0; margin-right: $spacer;
      grid-area: company; 
    }
    .exp-location {
      // SKILL
      font-variant: small-caps;
      font-style: italic;
      // FORMAT 
      margin: 0;
      grid-area: location; 
    }
    .exp-skills {
      // SKILL
      // FORMAT 
      grid-area: skills; 
    }
    .exp-duties {
      // SKILL
      // FORMAT 
      grid-area: duties; 
    }
}

// VOLUNTEERS
.volunteer {
  // SKILL
  // FORMAT
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "title title year"
    "organization location location"
    "about about about"
    "duties duties duties";

    .vol-title {
      // STYLE
      text-transform: uppercase;
      font-weight: bold;
      // FORMAT
      margin: 0; 
      grid-area: title; 
    }
    .vol-date_range {
      // STYLE
      font-style: italic;
      // FORMAT
      margin: 0; 
      grid-area: year; 
    }
    .vol-organization {
      // STYLE
      text-transform: uppercase;
      // FORMAT 
      margin: 0; margin-right: $spacer;
      grid-area: organization; 
    }
    .vol-location {
      // STYLE
      font-variant: small-caps;
      font-style: italic;
      // FORMAT 
      margin: 0;
      grid-area: location; 
    }
    .vol-about {
      // STYLE
      font-style: italic;
      // FORMAT 
      margin: 0;
      grid-area: about; 
    }
    .vol-duties {
      // STYLE
      // FORMAT 
      grid-area: duties; 
    }
}

// ORGANIZATIONS
.organization {
  // STYLE
  // FORMAT
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "title date"
    "organization organization";

    .org-title {
      // STYLE
      text-transform: uppercase;
      font-weight: bold;
      // FORMAT
      margin: 0;
      grid-area: title; 
    }
    .org-date_range {
      // STYLE
      font-style: italic;
      // FORMAT 
      margin: 0;
      grid-area: date; 
    }
    .org-organization {
      // STYLE
      text-transform: uppercase;
      // FORMAT 
      margin: 0;
      grid-area: organization; 
    }
}