// SHARED
.exp-item {
  // STYLE
  // FORMAT
}
.exp-title {
  // STYLE
  font-weight: bold;
  text-transform: uppercase;
  // FORMAT
  margin: 0;
}
.exp-company, .exp-organization {
  // STYLE
  text-transform: uppercase;
  // FORMAT
  margin: 0; margin-right: $spacer;
}
.exp-location {
  // STYLE
  font-variant: small-caps;
  font-style: italic;
  // FORMAT
  margin: 0;
}
.exp-date_range {
  // STYLE
  font-style: italic;
  // FORMAT
  margin: 0;
}
.exp-about {
  // STYLE
  font-style: italic;
  // FORMAT
  margin: 0;
}
.exp-skills {
  // STYLE
  // FORMAT
  margin: 0;
}
.exp-duties {
  // STYLE
  // FORMAT
  margin: 0;
}



// PROFESSIONAL EXP
.professional {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "title title date"
    "company location location"
    "about about about"
    "skills skills skills"
    "duties duties duties";

    .exp-title { grid-area: title; }
    .exp-date_range { grid-area: date; }
    .exp-company { grid-area: company; }
    .exp-location { grid-area: location; }
    .exp-skills { grid-area: skills; }
    .exp-duties { grid-area: duties; }
}

// VOLUNTEER EXP
.volunteer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "title title date"
    "organization location location"
    "about about about"
    "duties duties duties";

    .exp-title { grid-area: title; }
    .exp-date_range { grid-area: date; }
    .exp-organization { grid-area: organization; }
    .exp-location { grid-area: location; }
    .exp-about { grid-area: about; }
    .exp-duties { grid-area: duties; }
}

// ORGANIZATION EXP
.organization {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "title title date"
    "organization location location";

    .exp-title { grid-area: title; }
    .exp-date_range { grid-area: date; }
    .exp-location { grid-area: location; }
    .exp-organization { grid-area: organization; }
}