// VARIABLES
@import './variables.scss';

// HEADER
#resume-header {
  // STYLE
  text-align: left;
  background: white;
  border: $border-thickness solid $color_main;
  // FORMAT
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 10px;
  grid-template-areas: 
    "left right";

  .col-left { grid-area: left; }
  .col-right { grid-area: right; }
}

// HEADER MAIN
#header-main {
  #header-name {
    // STYLE
    font-size: $font-size_name;
    letter-spacing: $letter-spacing_name;
    // FORMAT
    margin-top: 10px; margin-bottom: 0;
  }

  // SINGLE HEADLINE
  p#header-headline {}
  // MULTIPLE HEADLINES
  ul#header-headlines {
    // STYLE
    // FORMAT
    list-style-type: none; padding-left: 0;
    margin: 0;
  }

  #header-about {
    // STYLE
    font-style: italic;
    // FORMAT
    margin: 0; padding: 0;
    margin-top: 5px; margin-bottom: 10px;
  }
}

// HEADER CONTACT
#header-contact { margin: 0; padding: 10px 0; } 
ul#contact-items {
  // STYLE
  list-style-type: none; padding-left: 0;
  // FORMAT
  height: 100%;
  margin: 0; padding: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;

  .contact-item {
    align-self: flex-end;

    .contact-text {
      // STYLE
      // FORMAT
      margin-right: 0.5em;

      a {
        color: black;
        text-decoration: none;
      }
      a:hover {
        padding: 2px;
        color: white;
        background-color: $color_main;
      }
    }
    .contact-icon {}
  }
}
