// VARIABLES
@import './variables.scss';

// SHARED
.header-item { 
  // STYLE
  // FORMAT
  margin: 2.5px;
 }
#resume-header {
  // STYLE
  background: white;
  border: $border-thickness solid $color_main;

  // FORMAT
  display: grid;
  grid-template-rows: 1fr auto auto;
  grid-template-columns: 1fr auto;
  // grid-gap: row col;
  grid-template-areas:
    "name contact"
    "headline contact"
    "about contact";

  #header-name { 
    grid-area: name;
    align-self: stretch; justify-self: start;
  }
  #header-headline { 
    grid-area: headline;
    align-self: center; justify-self: start; 
  }
  #header-about { 
    grid-area: about;
    align-self: center; justify-self: start; 
  }
  #header-contact { 
    grid-area: contact;
    align-self: stretch; justify-self: end; 
  }
}

// HEADER
#resume-header {
  // STYLE
  // FORMAT
}

// NAME
#header-name {
  // STYLE
  font-family: $font-family_header;
  font-size: $font-size_name;
  letter-spacing: $letter-spacing_name;
  color: $color_main;
  // FORMAT
}
// HEADLINE
#header-headline {
  // STYLE
  list-style-type: none; padding-left: 0;
  // FORMAT
}
// ABOUT
#header-about {
  // STYLE
  font-style: italic;
  // FORMAT
}
// CONTACT
#header-contact {
  // STYLE
  list-style-type: none; padding-left: 0;
  // FORMAT
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;

  .contact-item {
    // STYLE
    // FORMAT
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-end; align-items: center;
    gap: 5px;
  }

  .contact-item-text {
    // STYLE
    // FORMAT
  }
  .contact-item-icon {
    // STYLE
    color: $color_main;
    // FORMAT
  }
}
