@import './variables.scss';

// PROJECTS
.port-item {
  // STYLE
  // FORMAT
  margin: 10px 0;
}
.port-title {
  // STYLE
  font-weight: bold;
  text-transform: uppercase;
  // FORMAT
  margin: 0;
}
.port-about {
  // STYLE
  font-style: italic;
  // FORMAT
  margin: 0;
}
.port-skills {}
.port-duties {}
.port-links {
  // STYLE
  list-style-type: none; padding-left: 0;
  // FORMAT
  margin: 0;

  a {
    color: black;
    text-decoration: underline;
  }
  a:hover {
    padding: 2px;
    color: white;
    background-color: $color_main;
  }
}

// PUBLICATIONS
.port-citation {
  // STYLE
  // FORMAT

  .citation-authors {}
  .citation-date {}
  .citation-title { font-weight: bold; }
  .citation-publisher { font-style: italic; }

}

.publication {
  a {
    // STYLE
    color: black;
    text-decoration: underline;
    font-style: italic;
    // FORMAT
    padding-left: 20px;
  }
  a:hover {
    padding: 2px; margin-left: 20px;
    color: white;
    background-color: $color_main;
  }
}

