@import './variables.scss';

// SHARED
.port-item {
  // STYLE
  // FORMAT
  margin: 10px 0;
}
.port-title {
  // STYLE
  font-weight: bold;
  text-transform: uppercase;
  // FORMAT
  margin: 0;
}
.port-about {
  // STYLE
  font-style: italic;
  // FORMAT
  margin: 0;
}
.port-skills {}
.port-duties {}
.port-links {
  // STYLE
  list-style-type: none; padding-left: 0;
  // FORMAT
  margin: 0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0 3px;

  li.port-link { display: contents; }
  span.port-link-text { 
    // STYLE
    font-family: $font-family_header;
    // FORMAT
    justify-self: end; align-self: center; 
  }
  span.port-link-link { 
    // STYLE
    font-style: italic;
    text-decoration: underline;
    // FORMAT
    justify-self: start; align-self: center; 
  }
}

// PROJECTS

// PUBLICATIONS
.port-citation {
  // STYLE
  // FORMAT
  padding-left: 30px;
  text-indent: -10px;

  .citation-authors {}
  .citation-date {}
  .citation-title { font-weight: bold; }
  .citation-publisher { font-style: italic; }

}
