/*MEDIA QUERIES FOR PRINT STYLING*/
/*fixes for things that don't print the same way they are displayed on the screen*/
/*
     = 1.6px = 0.1em
     = 2  px = 0.15em
     = 4  px = 0.25em
 6pt =  8 px = 0.5 em
11pt = 15 px = 0.95em
12pt = 16 px = 1.0 em
14pt = 19 px = 1.2 em
24pt = 32 px = 2.0 em
*/

@import './variables.scss';

@media screen {}

@media print {
  // SHARED

  // PAGE
  @page {
    size: auto;
    margin: 5mm 6mm 5mm 5mm;
  }

  // ELEMENTS
  p, span, ul {
    break-inside: avoid-page;
    page-break-inside: avoid-page;
  }

  // SELECTORS
  .item * {
    break-inside: avoid-page;
    page-break-inside: avoid-page;
  }
  
  .section-header {
    break-after: avoid-page;  
    page-break-after: avoid-page;
  }

  .port-citation {
    padding-left: 0;
  }

  .skin-row {
    break-inside: avoid-page;
    page-break-inside: avoid-page; 
  }
}
