@import './variables.scss';

.si-row {
  display: flex;
  align-items: center;
  margin: 0;

  p.row-title {
    // STYLE
    min-width: 100px; max-width: 100px;
    font-weight: bold;
    // FORMAT
    text-align: right;
    margin: 0 5px 0 0;
  }

  ul.row-list {

  }
}