@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

// COLOR
$color_main: #008B8B;
$border-thickness: 2px;

// FONT
$font-family: 'Open Sans', sans-serif;
$font-family_header: 'Source Code Pro', monospace;

  // SIZE
$font-size: 15px;
$font-size_bubble: 12px;
$font-size_name: 35px;
$font-size_header: 20px;
  // SPACING
$letter-spacing_name: 5px;
$letter-spacing_header: 6px;

// FORMATTING
$spacer: 5px;



